.App {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Events {
  box-shadow: 1px, gray;
}

h1 {
  color: #00556e;
  margin-bottom: 50px !important;
}

form{
  margin-top: 50px;
}

.button {
  border-radius: 8px;
  font-size: 20px;
  background-color: rgb(28, 137, 226);
  border: black solid transparent;
  color: white;
  margin-left: 70px;
  margin-top: 100px;
}